<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Reset Password on Paave Admin Page</title>
</head>
<body>
<p>Dear ${username}</p>
<p>
    Your Paave Admin Page account's password was requested to be reset, please click on the URL below to continue:
</p>
<p>
    <a href="${url}">${url}</a>
</p>
<p>
    Please note that, this URL is valid for 10 minutes
</p>
<p>
    <span>Regards, </span>
    <br />
    <em>PAAVE.</em>
</p>
</body>
</html>
