<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Email Template</title>
</head>
<body
    style="background-color: #ffffff;font-family: sans-serif;-webkit-font-smoothing: antialiased;font-size: 14px;line-height: 22px;margin: 0;padding: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
        <!-- START HEADER -->
        <tr>
            <td style="text-align: center">
                <img style="width: 587px; height: 231px;"
                    src="https://paave-mobile-resource.s3.ap-southeast-1.amazonaws.com/static/banner-header.png">
            </td>
        </tr>
        <!-- END HEADER -->
        <tr>
            <td style="
            text-align: center;
            box-shadow: unset">
                <div style=" 
                margin: 0 auto;
                max-width: 600px;">
                    <!-- CONTENT EMAIL -->
                    <div>
                        <table role="presentation" border="0" cellpadding="0" cellspacing="0" style="padding: 0 30px; width: 600px;
                            border-spacing: 0 30px;
                            ">
                            <tr style="background: #FAFAFA;">
                                <td
                                    style="text-align: left !important; padding: 15px; border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;">
                                    <p style="margin-top: 0">Bạn thân mến,</p>
                                    <p style="margin-top: 0">Hồ sơ đăng ký mở tài khoản KIS qua Paave của bạn đã bị từ chối.
                                    <p style="margin-top: 0">Bạn có thể thử lại mở tài khoản KIS qua Paave hoặc đăng nhập tài khoản Paave đã được tạo trước đó để trải nghiệm tính năng Giao dịch ảo của chúng tôi.</p>
                                    <p style="margin-top: 0">Nếu bạn có bất kỳ câu hỏi nào hoặc gặp sự cố khi đăng nhập, vui lòng liên
                                        hệ&nbsp;<a href="mailto:support@paave.io">support@paave.io</a> để được hỗ trợ!
                                    </p>
                                    <p style="margin-top: 0">Cảm ơn bạn đã chọn Paave!</p>
                                    <p style="margin-top: 0">Đội ngũ Paave</p>
                            </tr>
                            <tr style="background: #FAFAFA">
                                <td
                                    style="text-align: left !important; padding: 15px; border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;">
                                    <p style="margin-top: 0">Dear Customer,</p>
                                    <p style="margin-top: 0">Your enrollment to open KIS account via Paave has been rejected.
                                    <p style="margin-top: 0">You can re-open KIS account via Paave or sign in your Paave account and experience our Virtual Trading. 
                                    <p style="margin-top: 0">If you have any questions or trouble logging in, please contact&nbsp;<a
                                            href="mailto:support@paave.io">support@paave.io</a> for support!</p>
                                    <p style="margin-top: 0">Thank you for choosing Paave!</p>
                                    <p style="margin-top: 0">Paave Team</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- END CONTENT EMAIL -->
                    <!-- START SOCIAL MEDIA -->
                    <div style="margin-top: 30px; margin-bottom: 30px;">
                        <div style="text-align: center; width: 100%;">
                            <span style="color:#53677F; font-size: 16px; font-weight: 400;">
                                Follow us on social media
                            </span>
                        </div>
                        <div style="text-align: center; padding-top: 2px; padding-bottom: 12px;">
                            <div
                                style="width: 60px; height: 4px; background: #BECAE5; border-radius: 2px; margin: 0 270px;">
                            </div>
                        </div>
                        <div style="padding: 0 186px;">
                            <table role="presentation" cellspacing="0" cellpadding="0" border="0" style="width: auto;">
                                <tr>
                                    <td></td>
                                    <td style="width:30px !important; padding: 0 8px;">
                                        <a href="https://www.facebook.com/paave.io" target="_blank">
                                            <img style="width: 30px; height: 30px"
                                                src="https://paave-mobile-resource.s3.ap-southeast-1.amazonaws.com/static/facebook-icon.png"
                                                alt="">
                                        </a>
                                    </td>
                                    <td style="width:30px !important; padding: 0 8px;">
                                        <a href="https://www.youtube.com/channel/UCIcUELAt7uhXVKkt4TJUtDA"
                                            target="_blank">
                                            <img style="width: 30px; height: 30px"
                                                src="https://paave-mobile-resource.s3.ap-southeast-1.amazonaws.com/static/youtube-icon.png"
                                                alt="">
                                        </a>
                                    </td>
                                    <td style="width:30px !important; padding: 0 8px;">
                                        <a href="https://www.instagram.com/paave.io/" target="_blank">
                                            <img style="width: 30px; height: 30px"
                                                src="https://paave-mobile-resource.s3.ap-southeast-1.amazonaws.com/static/instagram-icon.png"
                                                alt="">
                                        </a>
                                    </td>
                                    <td style="width:30px !important; padding: 0 8px;">
                                        <a href="https://www.linkedin.com/company/difisoft" target="_blank">
                                            <img style="width: 30px; height: 30px"
                                                src="https://paave-mobile-resource.s3.ap-southeast-1.amazonaws.com/static/linkedin-icon.png"
                                                alt="">
                                        </a>
                                    </td>
                                    <td style="width:30px !important; padding: 0 8px;">
                                        <a href="https://www.tiktok.com/@paave.io" target="_blank">
                                            <img style="width: 30px; height: 30px"
                                                src="https://paave-mobile-resource.s3.ap-southeast-1.amazonaws.com/static/tiktok-icon.png"
                                                alt="">
                                        </a>
                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- END SOCIAL MEDIA -->
                    <!-- FOOTER -->
                    <div style="color: #999999; font-size: 12px;  text-align: center; display: none;">
                        <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td>
                                    <img style="width: 587px;"
                                        src="https://paave-mobile-resource.s3.ap-southeast-1.amazonaws.com/static/border-bottom.png"
                                        alt="">
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- END FOOTER -->
                </div>
            </td>
        </tr>
        <tr>
            <td style="text-align: center">
                <img style="width: 587px;"
                    src="https://paave-mobile-resource.s3.ap-southeast-1.amazonaws.com/static/border-bottom.png" alt="">
            </td>
        </tr>
    </table>
</html>