<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Đăng ký tài khoản</title>

</head>
<body>
<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
    <span>Xin cảm ơn quý khách đã mở tài khoản tại CTCP Chứng khoán KIS Việt Nam – KIS. <br/>
        <br/>Yêu cầu mở tài khoản của quý khách đã được gửi thành công, các thông tin về Tài khoản, Mật Khẩu đăng nhập, Mật khẩu đặt lệnh qua điện thoại sẽ được gửi đến mail của quý khách trong vòng 01 ngày.
        <br/>Quý khách vui lòng hoàn thành các thủ tục hồ sơ, hợp đồng được đính kèm, sau đó gửi bản cứng tới các cơ sở KIS gần nhất để hoàn thiện thủ tục mở tài khoản.
        <br/>Chúc quý khách đầu tư thành công và hài lòng khi giao dịch tại KIS.

        <br/>Ðể biết thêm chi tiết, xin vui lòng liên hệ số diện thoại:
        <br/>- Bộ phận hỗ trợ khách hàng: 0283914 85 85 - Nhấn phím số 2</span>
    <br/>
    <br/>
    <a href="https://drive.google.com/file/d/19K5Kd1r2x9UA7IDBe3la4CKoGQgbkRsF/view?usp=sharing">Hợp đồng mở tài khoản</a>
    <br/>
    <a href="https://drive.google.com/file/d/14dY9zcBYRp8odEaJMNHVZVse2lM4V8Tf/view?usp=sharing">Account Opening Contract</a>
</div>
</body>
</html>