<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>[KB Fina] Thông báo sắp hết hạn mức đổi điểm KB Fina</title>

</head>
<body>
<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
    <span>Thông báo, <br/>
        <br/>Tổng số điểm người dùng đổi điểm lấy thẻ cào/tiền GPAY sắp chạm hạn mức. Số tiền còn lại trong tài khoản merchant KB Fina là ${balance}. Vui lòng bổ sung thêm số dư để không bị gián đoạn dịch vụ đổi điểm.
        <br/>Trân trọng
        <br/>
        <br/>Admin - KB Fina</span>
    <br/>
</div>
</body>
</html>