<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Email Template</title>
</head>

<body
        style="background-color: #ffffff;font-family: sans-serif;-webkit-font-smoothing: antialiased;font-size: 14px;line-height: 22px;margin: 0;padding: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">

<table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
  <!-- HEADER -->
  <tr>
    <td style="text-align: center">
      <img style="width: 587px; height: 231px;"
           src="https://paave-mobile-resource.s3.ap-southeast-1.amazonaws.com/static/background-include-text.png">
    </td>
  </tr>
  <!-- END HEADER -->
  <tr>
    <td style="
            text-align: center;
            box-shadow: unset">
      <div style="
                margin: 0 auto;
                max-width: 600px;">
        <!-- CONTENT EMAIL -->
        <div>
          <table role="presentation" border="0" cellpadding="0" cellspacing="0" style="padding: 0 30px; width: 600px;
                            border-spacing: 0 30px;
                            ">
            <tr style="background: #FAFAFA;">
              <td
                      style="text-align: left !important; padding: 15px; border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;">
                <p style="margin-top: 0">Xin chào <a style="color: #3B56A4;
            font-weight: bold;
            line-height: 18px !important;">${fullname}</a>,</p>
                <p style="margin-top: 0">Chào mừng quý khách đến với Paave!</p>
                <p style="margin-top: 0">Chúng tôi rất vui khi quý khách đến đây.</p>
                <p style="margin-top: 0; text-align: justify;">Chúng tôi tạo Paave vì chúng tôi mong
                  muốn quý khách được
                  lấy cảm hứng và tìm
                  hiểu về đầu tư từ những người
                  dẫn đầu thị trường.</p>
                <p style="margin-top: 0; text-align: justify;">Paave là sự kết hợp giữa Passion (Đam
                  mê) và Wave
                  (Làn sóng) và những từ
                  ngữ đó đồng thời là cốt lõi
                  trong nhiệm vụ của chúng tôi là giúp khách hàng có những trải nghiệm trên con
                  SÓNG của thị trường chứng
                  khoán cùng với niềm ĐAM MÊ. Với tư cách là một nền tảng đầu tư xã hội mang trong
                  mình sứ mệnh phục vụ
                  những nhà đầu tư lẻ ở Việt Nam nói riêng và Đông Nam Á nói chung, chúng tôi mở
                  ra một con đường tự do
                  tài chính cho mọi đối tượng, đặc biệt là thế hệ gen Z trong giai đoạn chuyển
                  giao thiên niên kỷ.</p>
                <p style="margin-top: 0">Quý khách có thể tìm thêm hướng dẫn của chúng tôi&nbsp;<a
                        href="https://www.paave.io/vi/user-manual/" target="_blank">tại
                  đây</a>&nbsp;để hiểu thêm về Paave.</p>
                <p style="margin-top: 0">Chúng tôi hy vọng quý khách có hành trình trải nghiệm thú vị tại
                  Paave!</p>
                <p style="margin-top: 0">Chúc quý khách thành công,</p>
                <p style="margin-top: 0">Đội ngũ Paave</p>
              </td>
            </tr>
            <tr style="background: #FAFAFA">
              <td
                      style="text-align: left !important; padding: 15px; border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;">
                <p style="margin-top: 0">Dear <a style="color: #3B56A4;
            font-weight: bold;
            line-height: 18px !important;">${fullname}</a>,</p>
                <p style="margin-top: 0">Welcome to Paave!</p>
                <p style="margin-top: 0">We're so happy you're here.</p>
                <p style="margin-top: 0; text-align: justify">We built Paave because we want you to
                  get inspired
                  and learn about
                  investment from market leaders.</p>
                <p style="margin-top: 0; text-align: justify">Paave is a combination of Passion and
                  Wave and these
                  words are from our
                  mission statement "We help
                  users get a ride of big and up stock market's wave with our passion". As a
                  social investing platform
                  with the mission of serving more retail investors in Vietnam and Southeast Asia,
                  we pave the way to make
                  financial freedom possible for everyone, especially the Millenials.</p>
                <p style="margin-top: 0">You can also find more of our guides&nbsp;<a
                        href="https://www.paave.io/en/user-manual/" target="_blank">here</a>&nbsp;to
                  learn more about Paave.</p>
                <p style="margin-top: 0">We hope you enjoy your journey in Paave!</p>
                <p style="margin-top: 0">All the best,</p>
                <p style="margin-top: 0">Paave Team</p>
              </td>
            </tr>
          </table>
        </div>
        <!-- END CONTENT EMAIL -->

        <!-- START SOCIAL MEDIA -->
        <div style="margin-top: 30px; margin-bottom: 30px;">
          <div style="text-align: center; width: 100%;">
                            <span style="color:#53677F; font-size: 16px; font-weight: 400;">
                                Follow us on social media
                            </span>
          </div>
          <div style="text-align: center; padding-top: 2px; padding-bottom: 12px;">
            <div
                    style="width: 60px; height: 4px; background: #BECAE5; border-radius: 2px; margin: 0 270px;">
            </div>
          </div>
          <div style="padding: 0 186px;">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" style="width: auto;">
              <tr>
                <td></td>
                <td style="width:30px !important; padding: 0 8px;">
                  <a href="https://www.facebook.com/paave.io" target="_blank">
                    <img style="width: 30px; height: 30px"
                         src="https://paave-mobile-resource.s3.ap-southeast-1.amazonaws.com/static/facebook-icon.png"
                         alt="">
                  </a>
                </td>
                <td style="width:30px !important; padding: 0 8px;">
                  <a href="https://www.youtube.com/channel/UCIcUELAt7uhXVKkt4TJUtDA"
                     target="_blank">
                    <img style="width: 30px; height: 30px"
                         src="https://paave-mobile-resource.s3.ap-southeast-1.amazonaws.com/static/youtube-icon.png"
                         alt="">
                  </a>
                </td>
                <td style="width:30px !important; padding: 0 8px;">
                  <a href="https://www.instagram.com/paave.io/" target="_blank">
                    <img style="width: 30px; height: 30px"
                         src="https://paave-mobile-resource.s3.ap-southeast-1.amazonaws.com/static/instagram-icon.png"
                         alt="">
                  </a>
                </td>
                <td style="width:30px !important; padding: 0 8px;">
                  <a href="https://www.linkedin.com/company/difisoft" target="_blank">
                    <img style="width: 30px; height: 30px"
                         src="https://paave-mobile-resource.s3.ap-southeast-1.amazonaws.com/static/linkedin-icon.png"
                         alt="">
                  </a>
                </td>
                <td style="width:30px !important; padding: 0 8px;">
                  <a href="https://www.tiktok.com/@paave.io" target="_blank">
                    <img style="width: 30px; height: 30px"
                         src="https://paave-mobile-resource.s3.ap-southeast-1.amazonaws.com/static/tiktok-icon.png"
                         alt="">
                  </a>
                </td>
                <td></td>
              </tr>
            </table>
          </div>
        </div>
        <!-- END SOCIAL MEDIA -->

      </div>
    </td>
  </tr>
  <!-- START FOOTER -->
  <tr>
    <td style="text-align: center">
      <img style="width: 587px;"
           src="https://paave-mobile-resource.s3.ap-southeast-1.amazonaws.com/static/border-bottom.png" alt="">
    </td>
  </tr>
  <!-- END FOOTER -->
</table>

</html>
