.p-action-wrap {
  margin-bottom: 30px;
}

.p-icon {
  margin: 0;
}

.p-width-percent-10 {
  width: 10% !important;
}

.p-mt-20 {
  margin-top: 20px;
}

.p-mb-20 {
  margin-bottom: 20px;
}

.p-mb-5 {
  margin-bottom: 5px;
}

.p-upload-alert {
  padding: 5px 10px !important;
}

.p-upload-alert > .btn-close {
  padding: 10px;
}

.p-alert-wrap {
  margin: 0 0 10px 0;
}

.p-font-14 {
  font-size: 14px;
}
