<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">

<head>
  <title th:text="#{email.reset.title.vi}">Invitation to join NHSV Admin Page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>

<body>
  <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
    <!-- START HEADER -->
    <tr>
      <td style="text-align: center">
        <img style="width: 587px; height: 231px;" src="https://nhsv.vn/uploadfile/source/caidat/logo.png">
      </td>
    </tr>
    <!-- END HEADER -->
    <tr>
      <td style="
        text-align: center;
        box-shadow: unset">
        <div style=" 
            margin: 0 auto;
            max-width: 600px;">
          <!-- CONTENT EMAIL -->
          <div>
            <table role="presentation" border="0" cellpadding="0" cellspacing="0" style="padding: 0 30px; width: 600px;
                        border-spacing: 0 30px;
                        ">
              <tr style="background: #FAFAFA;">
                <td
                  style="text-align: left !important; padding: 15px; border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;">
                  <p style="margin-top: 0" th:text="#{email.reset.greeting.vi}">Dear</p>
                  <p style="margin-top: 0">
                    <span th:text="#{email.reset.text1.vi}"></span>
                  </p>
                
                  <div class="button-container">
                    <button class="centered-button">
                      <a th:with="url=(@{|${baseUrl}/account/reset/finish?key=${user.resetKey}|})" th:href="${url}" >Đặt lại mật khẩu</a>
                    </button>
                  </div>
                  <p style="margin-top: 0">
                    <span th:text="#{email.reset.text2.vi}"></span>
                  </p>
                  <p>
                    <span th:text="#{email.activation.text2.vi}">Regards, </span>
                    <br />
                    <em th:text="#{email.signature}">JHipster.</em>
                  </p>
              </tr>
              <tr style="background: #FAFAFA">
</body>

</html>