.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-content {
  border: teal 2px solid;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 900px;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  padding: 2px;
  width: 250px;
}

.btn {
  margin: 5px;
}

.is-invalid
div {
  border-color: #dc3545;
}

.user-image {
  margin-left: 30%;
}

.linkButton {
  color: blue;
  font-size: 15px;
}
